/* Make equation numbers float to the right */
.eqno {
    margin-left: 5px;
    float: right;
}
/* Hide the link... */
.math .headerlink {
    display: none;
    visibility: hidden;
}
/* ...unless the equation is hovered */
.math:hover .headerlink {
    display: inline-block;
    visibility: visible;
    /* Place link in margin and keep equation number aligned with boundary */
    margin-right: -0.7em;
}
