[modify_fsurdat_basic_options]

# ------------------------------------------------------------------------
# .cfg file with inputs for fsurdat_modifier.
#
# We advise users to make a copy of this file that they can change freely,
# rather than changing this "template" file.
#
# Variables with FILL_THIS_IN must be specified.
# Variables with UNSET may be specified; if not and
# - idealized = False, they will remain unused
# - idealized = True, they will take on default values hardwired in the
# code. Details in comments below.
# Variables with values already set, may be changed to other values. If
# they get omitted, they will obtain the same default values found here.
# ------------------------------------------------------------------------

# Path and name of input surface dataset (str)
fsurdat_in = FILL_THIS_IN

# Path and name of output surface dataset (str)
fsurdat_out = FILL_THIS_IN

# idealized (bool)
# When user wants existing values in fsurdat to persist in all except the
# variables that they explicitly request to change, then set this to False.
# When user wants idealized representation of the land by resetting all
# fsurdat variables, some through this file and others by using hardwired
# defaults, then set this to True. Hardwired values are as follows:
# zbedrock = 10
# SLOPE = 0
# LANDFRAC_PFT = 1
# LANDFRAC_MKSURFDATA = 1
# PCT_NATVEG = 100  other landunits 0
# PCT_SAND = 43  corresponds to loam
# PCT_CLAY = 18  corresponds to loam
# ORGANIC = 0
idealized = False


# Process the optional section that handles modifying subgrid fractions
process_subgrid_section = False

# Process the optional section that handles modifying an arbitrary list of variables
process_var_list_section = False

# Boundaries of user-defined rectangle to apply changes (float)
# If lat_1 > lat_2, the code creates two rectangles, one in the north and
# one in the south.
# If lon_1 > lon_2, the rectangle wraps around the 0-degree meridian.
# Alternatively, user may specify a custom area in a .nc landmask_file
# below. If set, this will override the lat/lon settings.
# -----------------------------------
# southernmost latitude for rectangle
lnd_lat_1 = -90
# northernmost latitude for rectangle
lnd_lat_2 = 90
# westernmost longitude for rectangle
lnd_lon_1 = 0
# easternmost longitude for rectangle
lnd_lon_2 = 360
# Upper limit of longitudes, from format being either [-180, 180] or [0, 360]
lon_type = 360
# User-defined mask in a file, as alternative to setting lat/lon values.
# If set, lat_dimname and lon_dimname should likely also be set. IMPORTANT:
# - lat_dimname and lon_dimname may be left UNSET if they match the expected
# default values 'lsmlat' and 'lsmlon'
landmask_file = UNSET
lat_dimname = UNSET
lon_dimname = UNSET

# PFT/CFT to be set to 100% according to user-defined mask.
# If idealized = True and dom_pft = UNSET, the latter defaults to 0
# (bare soil). Valid values range from 0 to a max value (int) that one can
# obtain from the fsurdat_in file using ncdump (or method preferred by user).
# The max valid value will equal (lsmpft - 1) and will also equal the last
# value of cft(cft). Cannot be set with evenly_split_cropland = True.
dom_pft = UNSET

# If True, evenly split each gridcell's cropland among all crop types (CFTs).
# Can only be True if dom_pft is UNSET.
evenly_split_cropland = False

# LAI, SAI, HEIGHT_TOP, and HEIGHT_BOT values by month for dom_pft
# If dom_pft = 0, the next four default to 0 (space-delimited list
# of floats without brackets).
lai = UNSET
sai = UNSET
hgt_top = UNSET
hgt_bot = UNSET

# SOIL_COLOR accepts integer values from 1 to 20 (see CTSM Technote for info).
# if idealized = True and soil_color = UNSET, soil_color = 15.
soil_color = UNSET

# STD_ELEV (standard deviation of elevation) value (in meters) over the
# user_defined mask (float).
# if idealized = True and std_elev = UNSET, std_elev = 0.
std_elev = UNSET

# FMAX (maximum fractional saturated area) value (fraction) over the
# user_defined mask (float).
# if idealized = True and max_sat_area = UNSET, max_sat_area = 0.
max_sat_area = UNSET

# Include non-vegetation landunits (bool):
# - non-veg landunits unchanged if True
# - non-veg landunits set to 0 if False
include_nonveg = True
