[buildnml_input]

# ------------------------------------------------------------------------
# Paths to resolution-dependent files
#
# Values with FILL_THIS_IN *must* be specified. Values with UNSET should
# generally be specified explicitly, but it's also acceptable to leave
# these as UNSET and use the out-of-the-box defaults.
#
# Note that some other files also need to be set in lilac_in:
# atm_mesh_filename and lnd_mesh_filename
# ------------------------------------------------------------------------

# CTSM's domain file
lnd_domain_file   = FILL_THIS_IN

# CTSM's surface dataset
fsurdat           = FILL_THIS_IN

# The finidat (initial conditions) file does not absolutely need to be
# specified, but in most cases, you should specify your own finidat file
# rather than using one of the out-of-the-box ones.
finidat           = UNSET

# ------------------------------------------------------------------------
# High-level configuration options
# ------------------------------------------------------------------------

# ctsm_phys: 'clm4_5', 'clm5_0', or 'clm5_1'
ctsm_phys         = clm5_0

# configuration: 'nwp' or 'clm'
#
# This controls a number of physics options that differ between the
# standard numerical weather prediction (nwp) and climate (clm)
# configurations of CTSM. These are typically options that are
# computationally expensive. These include plant hydraulic stress and
# the MEGAN chemistry model (both of which are on by default for clm but
# off by default for nwp).
configuration     = nwp

# structure: 'fast' or 'standard'
#
# This controls various aspects of CTSM's subgrid and vertical layer
# structure. Typically, 'fast' is used for high-resolution NWP
# applications and 'standard' is used for lower-resolution climate
# applications. Parameters changed by this variable include number of
# soil and snow layers and how much subgrid variability is allowed in
# each grid cell. This also controls the maximum number of iterations in
# some iterative solution schemes - again, trading off speed for
# accuracy.
structure         = fast

# bgc_mode:
# - 'sp' (satellite phenology - no biogeochemistry)
# - 'bgc' (full biogeochemistry)
# - 'cn' (CLM4-style biogeochemistry)
# - 'fates' (Functionally Assembled Terrestrial Ecosystem Simulator)
bgc_mode          = sp

# crop: 'off' or 'on' ('on' only allowed for bgc_mode = 'bgc' or 'cn')
crop              = off

# vichydro: 'off' or 'on' ('on' only allowed for bgc_mode = 'sp')
vichydro          = off

# ------------------------------------------------------------------------
# Specific configuration options
# ------------------------------------------------------------------------

co2_ppmv          =  367.0
use_case          = 2000_control
lnd_tuning_mode   = clm5_0_GSWP3v1

# spinup: whether to do accelerated spinup: 'off' or 'on'
spinup            = off

# ------------------------------------------------------------------------
# Inputdata location (filled in automatically for your given build directory, but can be changed if desired)
# ------------------------------------------------------------------------

inputdata_path    = $INPUTDATA

stream_ndep_year_first = 2000
stream_ndep_year_last = 2000
stream_ndep_year_align = 1
stream_ndep_data_filename = $INPUTDATA/lnd/clm2/ndepdata/fndep_clm_hist_b.e21.BWHIST.f09_g17.CMIP6-historical-WACCM.ensmean_1849-2015_monthly_0.9x1.25_c180926.nc
stream_ndep_mesh_filename = $INPUTDATA/share/meshes/fv0.9x1.25_141008_polemod_ESMFmesh.nc
stream_ndep_data_varlist = NDEP_month
stream_ndep_mapalgo = bilinear
stream_ndep_tintalgo = linear
stream_ndep_taxmode = cycle

stream_urbantv_year_first = 2000
stream_urbantv_year_last = 2000
stream_urbantv_year_align = 1
stream_urbantv_data_filename = $INPUTDATA/lnd/clm2/urbandata/CLM50_tbuildmax_Oleson_2016_0.9x1.25_simyr1849-2106_c160923.nc
stream_urbantv_mesh_filename = $INPUTDATA/lnd/clm2/urbandata/CLM50_tbuildmax_Oleson_2016_0.9x1_ESMFmesh_cdf5_100621.nc
stream_urbantv_mapalgo = nn
stream_urbantv_tintalgo = linear

stream_popdens_year_first = 2000
stream_popdens_year_last = 2000
stream_popdens_year_align = 1
stream_popdens_data_filename = $INPUTDATA/lnd/clm2/firedata/clmforc.Li_2017_HYDEv3.2_CMIP6_hdm_0.5x0.5_AVHRR_simyr1850-2016_c180202.nc
stream_popdens_mesh_filename = $INPUTDATA/lnd/clm2/firedata/clmforc.Li_2017_HYDEv3.2_CMIP6_hdm_0.5x0_ESMFmesh_cdf5_100621.nc
stream_popdens_tintalgo = nearest
stream_popdens_mapalgo = bilinear

stream_lightng_year_first = 0001
stream_lightng_year_last = 0001
stream_lightng_year_align = 1
stream_lightng_data_filename = $INPUTDATA/atm/datm7/NASA_LIS/clmforc.Li_2012_climo1995-2011.T62.lnfm_Total_c140423.nc
stream_lightng_mesh_filename = $INPUTDATA/atm/datm7/NASA_LIS/clmforc.Li_2012_climo1995-2011.T62_ESMFmesh_cdf5_110621.nc
stream_lightng_tintalgo = linear
stream_lightng_mapalgo = bilinear
