#
# To install this on with conda loaded in modules
# use the top level bash script:
# ../py_env_create                                           # Do this each time you update your CTSM Version
# conda activate ctsm_pylib                                  # Do this anytime you want to run a CTSM python script
#
dask=2021.10.0
cartopy=0.20.2
matplotlib=3.3.2
