#
# To install this on with conda loaded in modules
# use the top level bash script:
# ../py_env_create                                           # Do this each time you update your CTSM Version
# conda activate ctsm_pylib                                  # Do this anytime you want to run a CTSM python script
#
pandas
tqdm
scipy
netcdf4
requests
packaging
numpy=1.18.5
xarray=0.17.0
pylint=2.8.3
black=22.3.0       # NOTE: The version here needs to be coordinated with the black github action under ../.github/workflows
