#!/bin/bash
#PBS -N jobname
#PBS -q develop
#PBS -l walltime=1:00:00
#PBS -A P93300041
#PBS -k eod
#PBS -l select=1:ncpus=1
#PBS -W depend=afterok:jobid
# ---------------------------------------------------------

tdir="/glade/work/djk2120/ctsm_tether/tools/tether/"
$tdir"tether.sh" wdir commands template
